/* Typography */
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

/* General styling */
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Background images */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow {
    text-shadow:black 1px 0 10px !important;
}

.bgimg-1 {
    background-image: url("/media/pictures/Background/CattonBackground.jpg");
    background-size: cover !important;
    background-position: center !important;
    min-height: 75% !important;
}

.bgimg-2,
.bgimg-3 {
    background-image: url("/media/pictures/Background/skyBackground.jpg");
    min-height: 400px;
}

/* Logo */
#fplogo {
    max-width: 100%;
    height: auto;
}

/* Wide letter spacing */
.w3-wide {
    letter-spacing: 10px;
}

/* Cursor style */
.w3-hover-opacity {
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Black with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Tablet and phone styles */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3, #fplogo {
        background-attachment: scroll;
        min-height: 400px;
    }
}

/* Spacing between sections */
.w3-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Testimonials */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

/* Carousel styles */
.wrapper {
    width: 640px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 100px;
    margin: 0 auto;
}

.wrapper .iframe {
    width: 640px;
    height: 360px;
    border-radius: 0px;
    overflow: hidden;
    padding-bottom: 0px;
}

.carousel {
    width: 100%;
    margin: 0 auto;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: black;
}

/* Arrow position and style */
.slick-prev,
.slick-next {
    background-color: transparent !important; /* Transparent background */
    color: #333 !important; /* Arrow color */
    border: none !important;
    padding: 5px !important; /* Adjust padding as needed */
    border-radius: 50% !important; /* Rounded corners */
    font-size: 24px !important; /* Adjust arrow size */
    z-index: 1 !important; /* Ensure arrows appear above the carousel */
    position: absolute !important; /* Position the arrows */
    top: 50% !important; /* Align arrows vertically */
    transform: translateY(-50%) !important; /* Center arrows vertically */
    transition: background-color 0.3s !important; /* Add transition for hover effect */
}

/* Hover effect for arrows */
.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(255, 255, 255, 0.5) !important; /* Semi-transparent white background on hover */
    color: #000 !important; /* Change arrow color on hover */
    cursor: pointer !important;
}

/* Button hover effect */
button:hover {
    background-color: #ccc;
}

/* Controls */
.controls {
    width: 1280px;
    padding-bottom: 50px;
    text-align: left;
    margin: 0 auto;
}

/* Iframe */
.iframe {
    width: 1280px;
    height: 720px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 0px;
    margin: 0 auto;
    display: block;
}

/* Unordered list */
ul {
    width: 640px;
    margin: 0 auto;
    text-align: left;
    display: block;
}
.bio {
    font-size: 18px; /* Default font size */
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .bio {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}

/* Media query for even smaller screens */
@media only screen and (max-width: 576px) {
    .bio {
        font-size: 14px; /* Adjust font size for even smaller screens */
    }
}
